.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 10px;
  padding: 20px 0;
}


@media screen and (min-width:768px) {
  .pagination {
    margin-left: 50px;
  }

  .hidden {
    display: block;
  }
}

.hidden {
  display: none;
}


.page:hover,
.active,
.changeState:hover {
  background: #ffff00;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-decoration: none;
  color: #242424;
  font-size: 24px;
  font-weight: 400;
}

.changeState {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  border-radius: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}